header{
    background-color: gray;
    width: 60%;
    margin: 0px;
    padding: 5px;
    color: antiquewhite;
    text-align:center;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}
footer{
    background-color: lightcoral;
    width: 60%;
    margin: 0px;
    padding: 5px;
    color: rgb(55, 12, 210);
    text-align: center;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}
p{
    background-color: greenyellow;
    width: 60%;
    margin: 0px;
    padding: 5px;
    color:black;
    text-align: center;
    text-align: justify;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}