*{
    box-sizing:border-box;
}
input[type="email"], input[type="password"]{
    width: 100%;
    padding: 15px;
    margin:5px 0px 22px 0px;
    display:inline-block;
    border:1px solid black;
    background-color:rgb(31, 198, 228) ;
}
input[type="email"]:focus, input[type="password"]:focus{
    background-color:gainsboro;
    outline:none; 
}
hr{
    background-color: blueviolet;
    margin-bottom:30px ;
}
button{
    background-color: brown;
    color: rgb(241, 238, 237);
    padding: 15px 20px;
    margin: 5px 0;
    border:1px solid lightgreen;
    border-radius: 10px;
    width: 100%;
    cursor: pointer ;
    opacity: 0.7;
}
button:hover{
    opacity: 1;
}
.cancelbtn{
    padding: 15px 20px;
    background-color: green;
}
.cancelbtn, .submitbtn{
    float: left;
    width: 50% ;
}
.login::after{
    content: "";
    clear: both;
    display:table;
}
@media screen and (max-width:300px){
    .cancelbtn, .submitbtn{
        width: 100%;
    }
}
h1{
    visibility: hidden;
}
